/* Global Settings */

body, html {
  background-color: #FFFAF4;
  font-family: "europa", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.mobile {
  display: none;
}

.alert-box {
  background-color: white;
  border: 0.2rem solid black;
  font-size: large;
  font-weight: 700;
  left: 50%;
  margin: auto;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 22%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.player-icons {
  height: 50%;
  scale: 1.2;
  object-fit: contain;
}

/* Side Bars */

.side-bars {
  background-color: #F7E9E0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 20%;
}

.left-side-bar {
  left: 0;
  top: 0;
}

.right-side-bar {
  right: 0;
  top: 0;
}

.player-headers {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 1rem;
}

/* Game Container and Board */

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.announcement-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 1rem;
  text-align: center;
  width: 60%;
}

.announcement-box img {
  height: 12%;
  width: 12%;
  object-fit: contain;
}

.turn-icon {
  aspect-ratio: 1/1;
  height: 4rem;
  margin-right: 1rem;
  width: 2.5rem;
}

h1 {
  font-weight: 700;
  margin-top: 4%;
}

.game-board {
  background-image: url("assets/grid-background.png");
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15%;
}

.game-tile {
  cursor: pointer;
  align-items: center;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 10rem;
}

.no-click .game-tile {
  cursor: default;
}

/* Media Queries */

@media screen and (max-width: 768px) {
.large-screen {
  display: none;
}

.mobile {
  display: block;
}

main {
  width: 40%;
}

.mobile-icons {
  height: 1.2rem;
  margin-right: 0.1rem;
  object-fit: contain;
  width: 1.2rem;
}

.mobile-side-bars {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 25%;
}

.player-one-mobile {
  left: 0; 
  margin-left: 5%;
}

.player-two-mobile {
  margin-right: 5%;
  right: 0;
}

.announcement-box {
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 10%;
  padding: 2%;
}

.announcement-box img {
  height: 20%;
  width: 20%;
}

.alert-box {
  top: 92%;
  width: 60%;
  height: 6%;
  padding: 1.2rem;
}
}